<div class="col-md-4">
    <div class="card mb-4 pokemon-card">
        <div class="row no-gutters">
            <div class="row no-gutters">
            <div class="col-md-4"></div>
                <img [src]="'https://github.com/PokeAPI/sprites/blob/master/sprites/pokemon/' + pokemon?.id + '.png'" alt="{{pokemon?.name}}" class="img-fluid">
            </div>
                <div class="col-md-8">
                    <p>Nombre: {{pokemon?.name}}</p>
                </div>
                <div class="col-md-8">
                    <p>ID: {{pokemon?.id}}</p>
                </div>
                <div class="col-md-8">
                    <p>Tipo: <span *ngFor="let type of pokemon?.types">{{type.type.name}} </span></p>
                </div>
            </div>
        </div>
    </div>