<div class="pokemon-card">
    <div class="pokemon-header">
        <h2>{{pokemon!.name}}</h2>
    </div>
    <div class="pokemon-content">
        <div class="pokemon-image">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon?.id}}.png"
                alt="{{pokemon?.name}}">
        </div>
        <div class="pokemon-details">
            <ul>
                <li><strong>Altura:</strong> {{pokemon?.height}} dm</li>
                <li><strong>Peso:</strong> {{pokemon?.weight}} hg</li>
                <li><strong>Experiencia base:</strong> {{pokemon?.base_experience}}</li>
                <li><strong>Habilidades:</strong>
                    <ul>
                        @for (item of pokemon?.abilities; track item.ability.name){
                        <li>{{item.ability.name}}</li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="pokemon-types">
        <p>Tipo:
            @for (item of pokemon?.types; track item.type.name){
            <span>{{item.type.name}} </span>
            }
        </p>
    </div>
</div>