@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); 

.item-card {
    padding: 0;
    margin: 0;
}

.item-card .card-img-left {
    padding: 0;
    margin: 0;
}

.item-card .card-body {
    padding-left: 10px;
}

.item-card .card-title {
    margin-left: 0;
    font-family: 'Press Start 2P', cursive;
}

.item-name {
  font-size: 0.7rem;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
}