<div class="col-md-4">
    <div class="card mb-4 pokemon-card">
        <div class="row no-gutters">
            <div class="row no-gutters">
            <div class="col-md-4"></div>
                <img [src]="'https://github.com/PokeAPI/sprites/blob/master/sprites/pokemon/' + item?.id + '.png'" alt="{{item?.name}}" class="img-fluid">
            </div>
                <div class="col-md-8">
                    <p>Nombre: {{item?.name}}</p>
                </div>
                <div class="col-md-8">
                    <p>ID: {{item?.id}}</p>
                </div>

            </div>
        </div>
    </div>