@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #f0f0f0;
    font-family: 'Press Start 2P', cursive;
    color: #333;
}

.item-details {
    width: 50%;
    padding: 20px;
    font-size: 1.5em;
    text-align: left;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Press Start 2P', cursive;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    /* Centra el contenido en el eje X */
}

.item-details h2 {
    color: #ff6347;
    text-align: center;
}

.item-details ul {
    list-style-type: none;
    padding: 0;
}

.item-details ul li {
    margin-bottom: 10px;
}

.item-description {
    width: 50%;
    padding: 20px;
    margin: 0 auto;
    /* Centra el contenido en el eje X */
    font-size: 1.2em;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 20px;
    font-family: 'Press Start 2P', cursive;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item-description span {
    display: block;
    margin-bottom: 5px;
}

.item-description span::before {
    content: "• ";
    color: #ff6347;
}